
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient( 135deg, #fdf790 10%, #f78dc5 100%);

}
.card{
    box-shadow: 4px 4px 7px #7b7b7b!important;
    background-color: #ffdddd;
}
.inp-main{
    flex-direction: column;
}
.check-box{
    width: 20px;
}
.inp-range{
    width: 92%;
    margin-left: 10px;
}
.inp-check{
    flex-basis: 100%;
}



.btn-grad {background-image: linear-gradient(to right, #ecc9bc 0%,#fffa94  51%,  #f9a6d2   100%)}
.btn-grad {
   margin: 10px;
   padding: 5px 5px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 250% auto;
   color: rgb(0, 0, 0);            
   box-shadow: 0 0 20px #eee;
   border-radius: 5px;
   border: none;
   display: block;
   width: 90%;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   border: 1px solid black;
 }
